*  {    
    font-family: cantarell, Lusitana;
    margin: 0;
	padding: 0;
	
}






/*icon styling*/
i{
	color: black;
}
/*end icon styling*/


/*body styling*/
body{
	font-family: Lustiana, Cantarell, Sans-serif;
    width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: #FFFFFF;
	
}
/*end body styling*/


/*header styling*/
header  {
	background-color: #0288D1;
	padding: 10px;
	width: 100%;
	height: auto;
	
}

header h1  {
	font-family: Cantarell;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
	line-height: 50px;
	
	
}

header h2  {
	font-family: Lusitana;
	font-variant: small-caps;
	text-align: center;
	
}
h1{
	font-family: Lusitana;
	text-align: center;
}

h3{
	font-family: Cantarell;
	text-align: center;
	
}
/*end header styling*/


/* menu/nav styling */
nav{
	background: #0288D1;
	padding: 0px;
	
}

nav ul{
	list-style-type: none;
	padding: 0;
	box-shadow: 0 0 25px 0;

	
	
	
}

nav a{
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	display: block;
	padding: 10px;
	
}
nav a:hover{
	background-color: #03A9F4;


	
}
/*end of menu/nav styling*/


/*grid/block/article styling starts here*/
/*for this section of my css i took some inspiration from a website programmer named "net ninja" who provides a series of excellent videos on youtube regarding various aspects of html & css coding(of which i must have watched several hours of, i will include more info of this and other inspiring videos/sites in my readME file). I have not copied his work, but simply took some guidance/inspiration from his tutorials in order to create my 'own' style page. A link to the exact tutorial is as follows: https://www.youtube.com/watch?v=B_E6Kh9YkFM*/
#blocks{
	margin: 20px;
}

img{
	width: 100%;
	height: 350px;
}

article{
	background: #BBDEFB;
	margin-bottom: 5px;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	

	
}

       
article h1{
	font-family: Cantarell;
}

article h2{
	font-family: Lusitana;
    text-align: center;
	font-size: 20px;
	margin: 10px 0;
}

iframe{
	width: 100%;
	height: 500px;
	border: 0;
	
}


p{
	text-align: center;
}
/*grid/block/article styles end here*/



/*footer styles*/
footer{
	width: 100%;
	height: auto;
	background-color: #FFFFFF ;
	padding: 15px;
    
}

footer img{
	width: 80px;
	height: 30px;

}
	
footer i{
    color: black;


}	
/*flex styles*/
@media screen and (min-width: 768px){
	
nav ul{
	display: flex;
	justify-content: center;
	}
	
nav li{
	flex: 2 3 0;/*the amount of space for the links to grow into*/
	}
	

		

#blocks{ 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
} 

article{
	flex: 0 1 32%;
} 
/*end flex/*

/*end media 768*/
}

/*form styling*/ 
  @media screen and (min-width: 768px){  
#form-wrap  {
	         width: auto;
			 margin: auto;
			 padding: 20px;
			 box-shadow: 10px 10px 5px ;
			 background-color: #BBDEFB;;
			 border-style: solid;
			 border-radius: 20px;
             		 
             			 
}

form  {
	         width: auto;
			 height: auto;
			 
			 padding: 0px;
			 margin: 0px auto;
			 background-color: #BBDEFB;;
			 
}

label  {
	         
	         display: block; 
             margin: 5px 0 5px 20px;	
             font: 25px sans-serif;
             color: #BBDEFB ;
			 
}

input  {
	         height: 20px;
	         width: 250px;
			 background-color: white;
			
}            

textarea  {
	         height: 60px;
	         width: 600px;
			 BACKGROUND-COLOR: white;
			 
}

fieldset  {
	         border: none;
			 padding-bottom: 40px;	
			 
			
            			 
}
fieldset img{
	         width: 350px;
			 position: absolute;
			 right: 100px;
}
.labelone  {
	         margin-top: 5px;
			 color: black;
			 
}
.labeltwo{
	        color: black;
}
.labelthree{
	        color: black;
}
.btn{
	        color: black;
			text-transform: uppercase;
			font-size: 15px;
			
}
form h1{
	         color: black;
}

form h4  {
	         font: 25px sans-serif;
			 color: black;
			 margin: 19px;
}

  }
/*form styling end*/
