body {
         font-family:Arial, sans-serif, helvetica;
		 
         background-color:grey;
}
         /*add comments in css like this*/
		 



header  {
	     background-image: url("pc2.jpg");
		 background-size: cover;
	     width:80%;
		 padding: 4px;
	     margin-right:auto;
	     margin-left:auto;
	     overflow:hidden;
	     border-color:white;
	     border-width:5px;
	     border-style:solid;
	     padding:5px;
	     border-radius:20px;
         box-shadow: 10px 10px 5px black;		 
}

h1 {      
         
         font-size: 48px;
         text-shadow: 0px 3px 6px #aaa;
		 text-align: center;
		 text-decoration: bold;
		
	     
}   

h2 {
	     text-align: center;
		 text-decoration: bold;
		 font-size:1.6;
}

h3 {
	     font-size:1.3;
	
}

hgroup {
	     width:70%;
	     float:left;	
}

hgroup h1 {
	     padding-top:0;
	     line-height:1em;
}

hgroup h2 {
	     text-transform:uppercase;
	     font-size:1.2em;
	     line-height:1em;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: yellow;
	color:black;
}
a:link, a:visited  {      
         display: block;
		 border-radius: 20px;
         width: 120px;
		 background-color:black;
		 color: white;
		 text-decoration: none;
		 text-align: center;
		 font-weight: bold;
		 text-transform: uppercase;
		 padding: 5px;
		 cursor: pointer;
		 transition: 0.3s 0.3s linear;/*the first '0.9s' is the speed, the second '1s' is the delay, the linear makes it transition go at a steady pace, never slows dowm, n never speeds up. 3 diff properties that can be used on there own*/
		 
}

a:hover, a:active  {
	      background-color: grey;
		  transform: rotate(360deg);/*transform the object into a spin*/
}

	    
section { 
        
	     width:80%;
	     background-image: url("black_bckground.jpg");
		 background-size: cover;
		 background-repeat:no-repeat;
	     margin-right:auto;
	     margin-left:auto;
	     border-color:white;
		 color:white;
	     border-width:5px;
	     border-style:solid;
	     padding:5px;
	     border-radius:20px;
         box-shadow: 12px 12px 7px black;		 
}

p {
         padding:0 0 0 0px;
}

p:first-letter {
	     padding: 0 0 0 5px;
	     font-size:3em;
		 text-indent:5px;
}

footer {
	    
	       /*only works on IE8 and earlier*/
	     width:80%;
	     background-image: url("pc.jpg");
		 background-size: cover;
	     color:black;
		 
	     margin-right:auto;
	     margin-left:auto;
	     border-color:black;
	     border-width:5px;
	     border-style:solid;
	     padding:5px;
	     height:50px;
	     border-radius:20px;
		 box-shadow: 10px 10px 5px black;
 
	
	
}

img {
	     
		
		 
		
	
}


/*media queries*/
@media screen and (max-width:1000px){ /*only targeted towards screens that have a max width of 700px, if screen is bigger than 700px these instructions will be ignored*/
   

img{
	     width:20%;

	      
	
}
 opacity: 0.9;
		 filter: alpha(opacity=20);
